.recommendation-div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.captions-div {
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: black;
}

.caption-all {
}
